[flake8]
max-line-length = 100
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .env,
    env,
    .dist,
    .pytest_cache,
    wandb, 
    data

per-fileignores = 
    __init__.py:F401

